.contact-form__container {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin: 0 auto;
	background-color: #eec600;
	color: #ffffff;
	padding: 2rem 1rem;
	border-radius: 8px;
	gap: 1.25rem;
}

.contact-form__title {
	font-size: 1.875em;
	font-weight: 700;
}

.contact-form__info {
	font-size: 0.875em;
	font-weight: 400;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.contact-form__name-inputs,
.contact-form__phone-inputs {
	display: flex;
	gap: 10px;
}

input,
select,
textarea {
	padding: 10px;
	width: 100%;
	border: 2px solid #ccc;
	border-radius: 4px;
	transition: border-color 0.3s;
	box-sizing: border-box;
}

.contact-form__message-subject-select {
	height: 40px;
	padding: 0 0.75rem;
	border: 1px solid #ccc;
	border-radius: 0;
	background-color: #fff;
	color: #333;
	font-size: 1em;
	appearance: none;
	background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
	background-repeat: no-repeat;
	background-position: right 12px center;
	background-size: 1em;
	cursor: pointer;
}

.valid {
	border-color: greenyellow;
}

.invalid {
	border-color: red;
}

.contact-form__btn {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.contact-form__btn-submit {
	background-color: #fff;
	padding: 0.625rem;
	border-radius: 20px;
	font-size: 0.725em;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid #eec600;
	cursor: pointer;
	transition: all 0.3s;
}

.contact-form__btn-submit:hover {
	transform: scale(1.1);
}
